body {
    font-family: "Segoe UI", sans-serif;
    background: #f9fafb;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav {
    background-color: #388e3c;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #66bb6a;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

.plotly-graph-div {
    width: 90%;
    margin: 20px auto;
    border-radius: 12px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.btn-voltar {
    display: inline-block;
    margin-bottom: 25px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: background 0.3s, transform 0.2s;
}

.btn-voltar:hover {
    background-color: #43a047;
    transform: translateY(-2px);
}
