<!DOCTYPE html>
<html>
<head>
    <title>Painel Admin</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>

<header>
    <h1>Painel Administrativo</h1>
</header>

<nav>
    <ul>
        <li><a href="{{ url_for('admin_bp.admin_usuarios') }}">Usuários Ativos</a></li>
        <li><a href="{{ url_for('admin_bp.usuarios_pendentes') }}">Usuários Pendentes</a></li>
        <li><a href="{{ url_for('admin_bp.delete_by_date_page') }}">Excluir por Data</a></li>
        <li><a href="{{ url_for('leitura_bp.view_grafico', tipo='temperatura_ar') }}">Gráfico</a></li>
        <li><a href="{{ url_for('admin_bp.admin_logout', tipo='temperatura_ar') }}">Sair</a></li>

    </ul>
</nav>

<form class="filter-form" method="GET" action="{{ url_for('admin_bp.filtrar_leituras') }}">

    <label>Início:</label>
    <input type="datetime-local" name="data_inicio"
           value="{{ request.args.get('data_inicio', '') }}">

    <label>Fim:</label>
    <input type="datetime-local" name="data_fim"
           value="{{ request.args.get('data_fim', '') }}">

    <label>Tipo:</label>
    <select name="tipo">
        <option value="">Todos</option>

        {% for s in sensores %}
            <option value="{{ s }}"
                {% if request.args.get('tipo') == s %}selected{% endif %}>
                {{ s }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Sensor</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Ações</th>
    </tr>

    {% for l in leituras %}
    <tr>
        <td>{{ l.id }}</td>
        <td>{{ l.sensor_id }}</td>
        <td>{{ l.tipo }}</td>
        <td>{{ l.valor }}</td>
        <td>{{ l.timestamp }}</td>

        <td>
            <form action="{{ url_for('admin_bp.admin_delete_by_id', id=l.id) }}" method="POST">
                <button type="submit" class="btn-delete"
                    onclick="return confirm('Tem certeza que deseja apagar esta leitura?')">
                    Excluir
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>