<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
            AgroData
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/admin.css') }}">

    {% block css_extra %}
    {% endblock %}
</head>

<body>

{% include 'admin/sidebar.html' %}

{% block conteudo %}
{% endblock %}

<script>
document.querySelectorAll(".dropdown-btn").forEach(btn => {
    btn.addEventListener("click", function () {
        const container = this.nextElementSibling;

        if (container) {
            container.classList.toggle("active");
        }
    });
});
</script>

{% block js_extra %}
{% endblock %}

</body>
</html>
