<!DOCTYPE html>
<html>
<head>
    <title>Login Admin</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>

<header>
    <h1>Painel Administrativo</h1>
</header>

<div class="login-container">
    <h2>Login do Administrador</h2>

    <form method="POST">
        <label>Usuário:</label>
        <input type="text" name="usuario" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit">Entrar</button>
    </form>

    <a class="btn-voltar" href="/">Voltar</a>
</div>

</body>
</html>
