<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Regras de Associação - Frutos</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/associacao.css') }}">

</head>

<body>
{% include 'admin/sidebar.html' %}
<header>

    <h1>Regras de Associação - Frutos</h1>

</header>

<main>

{% if regras %}

<table>

    <thead>

        <tr>

            <th>Condição</th>
            <th>Resultado</th>
            <th>Suporte</th>
            <th>Confiança</th>
            <th>Força</th>
        </tr>

    </thead>

    <tbody>

    {% for regra in regras %}

        <tr>

            <td>{{ regra.antecedente }}</td>
            <td>{{ regra.consequente }}</td>
            <td>{{ regra.support }}</td>
            <td>{{ regra.confidence }}</td>
            <td>{{ regra.lift }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% else %}

<p>Nenhuma regra encontrada.</p>

{% endif %}

</main>
<script>

const dropdowns = document.querySelectorAll(".dropdown-btn");

dropdowns.forEach(btn => {

    btn.addEventListener("click", function () {

        const container = this.nextElementSibling;

        container.classList.toggle("active");

    });

});

</script>
</body>

</html>
