<!DOCTYPE html>
<html>
<head>
    <title>Painel Admin</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>

<header>
    <h1>Painel Administrativo</h1>
</header>

<nav>
    <ul>
        <li><a href="/">Página Inicial</a></li>

        <!-- O BOTÃO QUE VOCÊ PEDIU -->
        <li><a href="{{ url_for('leitura_bp.delete_by_date_page') }}">Excluir por Data</a></li>

        <li><a href="{{ url_for('leitura_bp.admin_logout') }}">Sair</a></li>
    </ul>
</nav>

<p>Gerenciamento de Leituras</p>



<table>
    <tr>
        <th>ID</th>
        <th>Sensor</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Ações</th>
    </tr>

    {% for l in leituras %}
    <tr>
        <td>{{ l.id }}</td>
        <td>{{ l.sensor_id }}</td>
        <td>{{ l.tipo }}</td>
        <td>{{ l.valor }}</td>
        <td>{{ l.timestamp }}</td>

        <td>
            <a class="btn-delete"
               href="{{ url_for('leitura_bp.admin_delete', id=l.id) }}"
               onclick="return confirm('Tem certeza que deseja apagar esta leitura?')">
               Excluir
            </a>
        </td>

    </tr>
    {% endfor %}
</table>

</body>
</html>
